<div *ngIf="store.users && store.users.length > 0; else loadBlock">
  <div *ngFor ="let user of store.users; let i = index">
    <br/>
    {{i+1}}. Имя - {{user.name}} | Пароль - {{user.password}}
  </div>
</div>

<br/>
<br/>
Имя: <input  [(ngModel)]="userName" >
<br/>
<br/>
Пароль: <input  [(ngModel)]="userPassword" >
<br/>
<br/>
<button (click)="addUser()">Добавить пользователя</button>
<br/>
<br/>
<button (click)="store.saveUsersInLS()">Сохранить юзеров в LS</button>
<br/>
<br/>
<button (click)="getUsers()">Загрузить юзеров из LS</button>
<br/>
<br/>
<button (click)="checkUser()">Проверить есть ли этот Name\Password в LS</button>

<ng-template #loadBlock>Загрузка...</ng-template>


