<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      Shiba
    </ng-template>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba </mat-card-title>
        <mat-card-subtitle>Shiba</mat-card-subtitle>

      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions>
        <button (click)="like('shiba ')" mat-button  >LIKE</button>
      </mat-card-actions>
    </mat-card>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Sharpei
    </ng-template>
    <mat-card class="example-card" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Sharpei </mat-card-title>
        <mat-card-subtitle>Sharpei</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://petsi.net/images/dogphotos/chinese-shar-pei-puppy.jpg">
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions>
        <button (click)="like('Sharpei ')" mat-button  >LIKE</button>
      </mat-card-actions>
    </mat-card>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Husky
    </ng-template>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Husky</mat-card-title>
        <mat-card-subtitle>Husky</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://wl-adme.cf.tsp.li/resize/728x/jpg/850/5f8/58a7125715a2d7859031f0d013.jpg" >
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions>
        <button (click)="like('Husky ')" mat-button  >LIKE</button>
      </mat-card-actions>
    </mat-card>

  </mat-tab>
</mat-tab-group>
